@use './_variables.scss' as *;
@use './mixins.scss' as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  color: $white;

  .contentContainer {
    margin-left: 0.5rem;
    margin-bottom: -5rem;
  }
}
