@use './_variables.scss' as *;
@use './mixins.scss' as *;
.notificationWrapper {
  position: relative;
  z-index: 5; // ✅ Ensures notifications stay interactive
}
.navBar {
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: sticky;
  padding: 0.8rem;
  top: 0;

  @include for-mobile-only {
    padding: 0.6rem 0;
  }

  &__filled {
    @extend .navBar;
    background-color: $secondary;
    background-image: none;
  }

  &__left, &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    margin-left: 3rem;

    @include for-mobile-only {
      margin-left: 2rem;
    }

    .browse {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
    }

    .options {
      padding: 0.4rem 0.3rem;
      margin: 0 0.5rem;
      cursor: pointer;
      transition: color 200ms ease-in-out;

      @include for-mobile-only {
        margin: 0 0.2rem;
      }

      &:hover {
        color: $white-hover;
      }
    }

    .menu {
      background-color: $secondary;
      opacity: 0.9;
      color: $white;
      position: absolute;
      top: 3rem;
      left: 0;
      padding: 0.6rem 0.9rem;
      border: $button-border solid 1.5px;
      cursor: pointer;
      z-index: 1001;

      &:hover {
        border-color: $white;
      }
    }
  }

  &__right {
    margin-right: 2rem;
    z-index: 50;

    @include for-mobile-only {
      margin-right: 0.4rem;
    }

    .options {
      padding: 0.3rem;
      margin: 0 0.2rem;
      cursor: pointer;
      transition: color 200ms ease-in-out;

      @include for-mobile-only {
        padding: 0.1rem;
        margin: 0;
      }

      &:hover {
        color: $white-hover;
      }
    }

    .icon {
      font-size: 1.4rem;
      margin: 0 0.7rem;
      cursor: pointer;
      transition: transform 250ms ease-in-out, color 200ms ease-in-out;

      @include for-mobile-only {
        margin: 0 0.3rem;
      }

      &:hover {
        transform: scale(1.1); // Slightly enlarge icon on hover
        color: $white-hover; // Change color on hover
      }
    }

    .searchPanel {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .searchBar {
      background-color: $secondary;
      border: $white-hover solid 1.2px;
      display: flex;
      align-items: center;
      font-size: 0.9rem;

      &__input {
        padding: 0.4rem;
        outline: none;
        background-color: transparent;
        color: $white;
        border: none;

        @include for-mobile-only {
          width: 90%;
          padding: 0.3rem;
        }
      }
    }

    .profile {
      padding: 0 0.9rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      .user {
        height: 2rem;
        border-radius: 0.2rem;
        margin-right: 0.3rem;

        @include for-mobile-only {
          height: 1.7rem;
        }
      }

      .signout {
        background-color: $secondary;
        opacity: 0.9;
        color: $white;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 0.6rem 1rem;
        border: $button-border solid 1.5px;
        cursor: pointer;
        z-index: 50;
        white-space: nowrap;

        &:hover {
          border-color: $white;
        }
        @include for-mobile-only {
          padding: 0.4rem 0.8rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}